// Varaible color 
$borderColor: #ddd;
$borderFocusColor: #007BFF;
$inputBorder: #ccc;
$hoverRowColor: #e6f2ff;
$oddRowColor: #f9f9f9;
$evenRowColor: #dbdbdb;
$buttonColor: #333;
$buttonHoverBg: #007BFF;
$buttonDisabledBg: #cccccc;
$buttonActiveColor: white;
$backgroundWhite: #fff;


.tableBeautifuller {
    /** -----------------------------------------------
    ------- Partie : commun ---------------------------
    ------------------------------------------------**/
    button {
        padding: 5px 15px;
        border: 1px solid $inputBorder;
        border-radius: 3px;
        background-color: transparent;
        color: $buttonColor;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: $buttonHoverBg;
            color: $buttonActiveColor;
        }

        &.active {
            background-color: $buttonHoverBg;
            color: $buttonActiveColor;
        }
    }

    button[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
        background-color: $buttonDisabledBg;
        pointer-events: none;
    }




    /** -----------------------------------------------
    ------- Partie : table ----------------------------
    ------------------------------------------------**/
    th, td {
        border: 1px solid $borderColor;
        padding: 8px 12px;
        position: relative;
    }

    thead {
        th {
            cursor: pointer;
            text-decoration: underline;

            .sort-arrow {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }

            > input, 
            > select {
                margin-top: 5px;
                padding: 5px;
                width: 100%;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            > input {
                transition: 0.3s;
            }

            > input:focus {
                border-color: $borderFocusColor;
                box-shadow: 0 0 5px rgba(0,123,255,0.5);
            }

            > select {
                appearance: none;
                background: url('data:image/svg+xml;utf8,<svg fill="gray" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 5px center;
                background-color: #fff;
                cursor: pointer;
            }

            > select:hover {
                border-color: $borderFocusColor;
            }
        }
    }

    // Coloration ligne pair et impair
    tbody {
        .odd {
            background-color: $oddRowColor;
        }

        .even {
            background-color: $evenRowColor;
        }
    }

    // Coloration au survol
    &.tableRowsHover {
        tbody {
            tr:hover {
                background-color: $hoverRowColor;
            }
        }
    }




    /** -----------------------------------------------
    ------- Partie : wrapper-top ----------------------
    ------------------------------------------------**/
    &.pagination-wrapper-top-container {
        .pagination-wrapper-top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 6px;
        }

        .search-input {
            display: block;
            margin-bottom: 20px;
            padding: 5px 10px;
            float: right;
            border: 1px solid $inputBorder;
            border-radius: 4px;
        }


        .wrapper-dropdown {
            float: right;
            display: block;

            .dropdown {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                right: 20px;
                padding: 20px 10px 10px 10px;

                .dropdown-content {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                }

                .dropdown-header {
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                .dropdown-item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 5px 0;
                }

                .dropdown-item:hover {
                    background-color: #f1f1f1;
                }

                .check-icon {
                    display: block;
                    margin-right: 8px;
                    visibility: hidden;
                }

                .selected .check-icon {
                    visibility: visible;
                }
            }
        }

    }


    /** -----------------------------------------------
    ------- Partie : wrapper-bottom -------------------
    ------------------------------------------------**/
    &.pagination-down-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;


        .pagination-info {
            margin-right: auto;
        }

        .pagination-buttons-container {
            // Rien poour le moment 
        }
    }
}