/** Partie : table **/
.tableBeautifuller {
    th, td {
        border: 1px solid #ddd;
        padding: 8px 12px;
        position: relative;
    }

    thead {
        th {
            cursor: pointer;
            text-decoration: underline;

            .sort-arrow {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }

            > input, 
            > select {
                margin-top: 5px;
                padding: 5px;
                width: 100%;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            > input {
                transition: 0.3s;
            }

            > input:focus {
                border-color: #007BFF;
                box-shadow: 0 0 5px rgba(0,123,255,0.5);
            }

            > select {
                appearance: none;
                background: url('data:image/svg+xml;utf8,<svg fill="gray" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 5px center;
                background-color: #fff;
                cursor: pointer;
            }

            > select:hover {
                border-color: #007BFF;
            }
        }
    }

    tbody {
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    }

    // Coloration ligne parir et impair
    &.tableRowsColors {
        tbody {
            tr:nth-child(odd) {
                background-color: #f9f9f9;
            }

            tr:nth-child(even) {
                background-color: #dbdbdb;
            }
        }
    }

    // Coloration au survol
    &.tableRowsHover {
        tbody {
            tr:hover {
                background-color: #e6f2ff;
            }
        }
    }
}



/** Partie : wrapper-top **/
.tableBeautifuller.pagination-wrapper-top-container {
    .pagination-wrapper-top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
    }

    .search-input {
        display: block;
        margin-bottom: 20px;
        padding: 5px 10px;
        float: right;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}


/** Partie : wrapper-bottom **/
.tableBeautifuller.pagination-down-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;


    .pagination-info {
        margin-right: auto;
    }

    .pagination-buttons-container {
        button {
            padding: 5px 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: transparent;
            color: #333;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: #007BFF;
                color: #FFF;
            }

            &.active {
                background-color: #007BFF;
                color: white;
            }
        }

        button[disabled] {
            cursor: not-allowed;
            opacity: 0.5;
            background-color: #cccccc;
            pointer-events: none;
        }
    }
}